/*Hide Form Submitt Button - inc/bootstrap-forms.php creates a new one*/
.form-submit {
display: none;
}

/*Fixes for Header Widget*/
.headerwidget{
  margin: -20px 0 20px 0;
}

.headerwidget img{
  max-width: 100%;
}
